In [1]:
from sqlalchemy import create_engine

In [2]:
db_string = "postgresql://wbauer_adb:adb2020@pgsql-196447.vipserv.org:5432/wbauer_adb"

db = create_engine(db_string)

connection_sqlalchemy = db.connect()

# 1. Ile kategorii filmów mamy w wypożyczalni?

In [3]:
result_set = db.execute("SELECT DISTINCT category_id FROM film_category")  
sum = 0
for r in result_set:  
    sum += 1
print("Ilość kategorii filmów w wypożyczalni:")
print(sum)

Ilość kategorii filmów w wypożyczalni:
16

# 2. Wyświetl listę kategorii w kolejności alfabetycznej.

In [4]:
result_set = db.execute("SELECT name FROM category ORDER BY name ASC")  
for r in result_set:  
    print(r)

('Action',)
('Animation',)
('Children',)
('Classics',)
('Comedy',)
('Documentary',)
('Drama',)
('Family',)
('Foreign',)
('Games',)
('Horror',)
('Music',)
('New',)
('Sci-Fi',)
('Sports',)
('Travel',)

# 3. Znajdź najstarszy i najmłodszy film do wypożyczenia.

In [5]:
result_set = db.execute("SELECT DISTINCT release_year FROM film")  
for r in result_set:  
    print(r)

(2006,)

Na podstawie wyświetlenia i usunięcia zduplikowanych lat wydania filmów mozna stwierdzić że, nie ma najstarszego ani najmłodszego filmu, ponieważ wszystkie były wydane w tym samym roku.

# 4. Ile wypożyczeń odbyło się między 2005-07-01 a 2005-08-01?

In [6]:
result_set = db.execute("SELECT rental_date FROM rental WHERE rental_date BETWEEN '2005-07-01' AND '2005-08-01'")  
sum = 0
for r in result_set:  
    sum += 1
print("Ilość wypożyczeń między 2005-07-01 a 2005-08-01:")
print(sum)

Ilość wypożyczeń między 2005-07-01 a 2005-08-01:
6709

# 5. Ile wypożyczeń odbyło się między 2010-01-01 a 2011-02-01?

In [7]:
result_set = db.execute("SELECT rental_date FROM rental WHERE rental_date BETWEEN '2010-01-01' AND '2011-02-01'")  
sum = 0
for r in result_set:  
    sum += 1
print("Ilość wypożyczeń między 2010-01-01 a 2011-02-01:")
print(sum)

Ilość wypożyczeń między 2010-01-01 a 2011-02-01:
0

# 6.  Znajdź największą płatność wypożyczenia.

In [8]:
result_set = db.execute("SELECT amount FROM payment ORDER BY amount DESC LIMIT 1")  
for r in result_set:  
    print(r)

(Decimal('11.99'),)

# 7. Znajdź wszystkich klientów z Polski, Nigerii lub Bangladeszu.

In [15]:
result_set = db.execute("SELECT first_name, last_name, country FROM customer INNER JOIN address ON address.address_id = customer.address_id INNER JOIN city ON city.city_id = address.city_id INNER JOIN country ON country.country_id = city.country_id WHERE country = 'Poland' OR country = 'Nigeria' OR country = 'Bangladesh' ORDER BY country")  
for r in result_set:  
    print(r)

('Michelle', 'Clark', 'Bangladesh')
('Stephen', 'Qualls', 'Bangladesh')
('Frank', 'Waggoner', 'Bangladesh')
('Marilyn', 'Ross', 'Nigeria')
('Elsie', 'Kelley', 'Nigeria')
('Gladys', 'Hamilton', 'Nigeria')
('Sonia', 'Gregory', 'Nigeria')
('Rodney', 'Moeller', 'Nigeria')
('Velma', 'Lucas', 'Nigeria')
('Carol', 'Garcia', 'Nigeria')
('Olga', 'Jimenez', 'Nigeria')
('Bertha', 'Ferguson', 'Nigeria')
('Tracey', 'Barrett', 'Nigeria')
('Jo', 'Fowler', 'Nigeria')
('Wallace', 'Slone', 'Nigeria')
('Constance', 'Reid', 'Nigeria')
('Brian', 'Wyman', 'Poland')
('Sidney', 'Burleson', 'Poland')
('Marjorie', 'Tucker', 'Poland')
('Russell', 'Brinson', 'Poland')
('Leah', 'Curtis', 'Poland')
('Ruben', 'Geary', 'Poland')
('Johnnie', 'Chisholm', 'Poland')
('Jimmie', 'Eggleston', 'Poland')

# 8. Gdzie mieszkają członkowie personelu?

In [16]:
result_set = db.execute("SELECT first_name, last_name, address, city, country FROM staff INNER JOIN address ON address.address_id = staff.address_id INNER JOIN city ON city.city_id = address.city_id INNER JOIN country ON country.country_id = city.country_id ORDER BY first_name")  
for r in result_set:  
    print(r)

('Jon', 'Stephens', '1411 Lillydale Drive', 'Woodridge', 'Australia')
('Mike', 'Hillyer', '23 Workhaven Lane', 'Lethbridge', 'Canada')

# 9. Ilu pracowników mieszka w Argentynie lub Hiszpanii?

Z racji tego, że członków personelu jest dwóch co można zauważyć w zadaniu 8 i mieszkają oni w Australii i Kanadzie to nikt nie mieszka w Argentynie lub Hiszpanii.

# 10. Jakie kategorie filmów zostały wypożyczone przez klientów?

In [17]:
result_set = db.execute("SELECT DISTINCT name FROM category INNER JOIN film_category ON film_category.category_id = category.category_id INNER JOIN film ON film.film_id = film_category.film_id WHERE rental_duration > 0")  
for r in result_set:  
    print(r)

('Sports',)
('Classics',)
('New',)
('Family',)
('Comedy',)
('Animation',)
('Travel',)
('Music',)
('Drama',)
('Horror',)
('Sci-Fi',)
('Games',)
('Documentary',)
('Foreign',)
('Action',)
('Children',)

# 11. Znajdź wszystkie kategorie filmów wypożyczonych w Ameryce.

In [19]:
result_set = db.execute("SELECT DISTINCT name FROM category INNER JOIN film_category ON film_category.category_id = category.category_id INNER JOIN film ON film.film_id = film_category.film_id INNER JOIN inventory ON inventory.film_id = film.film_id INNER JOIN rental ON rental.inventory_id = inventory.inventory_id INNER JOIN customer ON customer.customer_id = rental.customer_id INNER JOIN address ON address.address_id = customer.address_id INNER JOIN city ON city.city_id = address.city_id INNER JOIN country ON country.country_id = city.country_id WHERE country = 'United States'")  
for r in result_set:  
    print(r)

('Action',)
('Animation',)
('Children',)
('Classics',)
('Comedy',)
('Documentary',)
('Drama',)
('Family',)
('Foreign',)
('Games',)
('Horror',)
('Music',)
('New',)
('Sci-Fi',)
('Sports',)
('Travel',)

# 12. Znajdź wszystkie tytuły filmów, w których grał: Olympia Pfeiffer lub Julia Zellweger lub Ellen Presley

In [22]:
result_set = db.execute("SELECT DISTINCT first_name, last_name, title FROM film INNER JOIN film_actor ON film_actor.film_id = film.film_id INNER JOIN actor ON actor.actor_id = film_actor.actor_id WHERE (first_name = 'Olympia' AND last_name = 'Pfeiffer') OR (first_name = 'Julia' AND last_name = 'Zellweger') OR (first_name = 'Ellen' AND last_name = 'Presley')")  
for r in result_set:  
    print(r)

('Ellen', 'Presley', 'Bilko Anonymous')
('Ellen', 'Presley', 'Caribbean Liberty')
('Ellen', 'Presley', 'Casper Dragonfly')
('Ellen', 'Presley', 'Empire Malkovich')
('Ellen', 'Presley', 'Floats Garden')
('Ellen', 'Presley', 'Frogmen Breaking')
('Ellen', 'Presley', 'Homeward Cider')
('Ellen', 'Presley', 'Hyde Doctor')
('Ellen', 'Presley', 'Image Princess')
('Ellen', 'Presley', 'Jacket Frisco')
('Ellen', 'Presley', 'Microcosmos Paradise')
('Ellen', 'Presley', 'Network Peak')
('Ellen', 'Presley', 'Oscar Gold')
('Ellen', 'Presley', 'Pickup Driving')
('Ellen', 'Presley', 'Pinocchio Simon')
('Ellen', 'Presley', 'Private Drop')
('Ellen', 'Presley', 'Roots Remember')
('Ellen', 'Presley', 'Scarface Bang')
('Ellen', 'Presley', 'Secretary Rouge')
('Ellen', 'Presley', 'Spy Mile')
('Ellen', 'Presley', 'Streetcar Intentions')
('Ellen', 'Presley', 'Tadpole Park')
('Ellen', 'Presley', 'Treasure Command')
('Ellen', 'Presley', 'Turn Star')
('Ellen', 'Presley', 'Women Dorado')
('Julia', 'Zellweger', 'Breakfast Goldfinger')
('Julia', 'Zellweger', 'Cranes Reservoir')
('Julia', 'Zellweger', 'Dares Pluto')
('Julia', 'Zellweger', 'Detective Vision')
('Julia', 'Zellweger', 'Divorce Shining')
('Julia', 'Zellweger', 'Hollow Jeopardy')
('Julia', 'Zellweger', 'Jeopardy Encino')
('Julia', 'Zellweger', 'Lambs Cincinatti')
('Julia', 'Zellweger', 'Majestic Floats')
('Julia', 'Zellweger', 'Minds Truman')
('Julia', 'Zellweger', 'Open African')
('Julia', 'Zellweger', 'Outlaw Hanky')
('Julia', 'Zellweger', 'Panky Submarine')
('Julia', 'Zellweger', 'Rider Caddyshack')
('Julia', 'Zellweger', 'Won Dares')
('Julia', 'Zellweger', 'Wyoming Storm')
('Olympia', 'Pfeiffer', 'Badman Dawn')
('Olympia', 'Pfeiffer', 'Chitty Lock')
('Olympia', 'Pfeiffer', 'Color Philadelphia')
('Olympia', 'Pfeiffer', 'Contact Anonymous')
('Olympia', 'Pfeiffer', 'Deep Crusade')
('Olympia', 'Pfeiffer', 'Effect Gladiator')
('Olympia', 'Pfeiffer', 'Express Lonely')
('Olympia', 'Pfeiffer', 'Firehouse Vietnam')
('Olympia', 'Pfeiffer', 'Fugitive Maguire')
('Olympia', 'Pfeiffer', 'Hanky October')
('Olympia', 'Pfeiffer', 'Ice Crossing')
('Olympia', 'Pfeiffer', 'Idols Snatchers')
('Olympia', 'Pfeiffer', 'Intolerable Intentions')
('Olympia', 'Pfeiffer', 'Magnolia Forrester')
('Olympia', 'Pfeiffer', 'Mars Roman')
('Olympia', 'Pfeiffer', 'Maude Mod')
('Olympia', 'Pfeiffer', 'Murder Antitrust')
('Olympia', 'Pfeiffer', 'None Spiking')
('Olympia', 'Pfeiffer', 'Others Soup')
('Olympia', 'Pfeiffer', 'Psycho Shrunk')
('Olympia', 'Pfeiffer', 'Santa Paris')
('Olympia', 'Pfeiffer', 'Sense Greek')
('Olympia', 'Pfeiffer', 'Storm Happiness')
('Olympia', 'Pfeiffer', 'Sweet Brotherhood')
('Olympia', 'Pfeiffer', 'Titanic Boondock')
('Olympia', 'Pfeiffer', 'Tourist Pelican')
('Olympia', 'Pfeiffer', 'Traffic Hobbit')
('Olympia', 'Pfeiffer', 'Wait Cider')