In [8]:
from sqlalchemy import create_engine

In [9]:
db_string = "postgresql://wbauer_adb:adb2020@pgsql-196447.vipserv.org:5432/wbauer_adb"

db = create_engine(db_string)

connection_sqlalchemy = db.connect()

# 1. Ile kategorii filmów mamy w wypożyczalni?

In [15]:
result_set = db.execute("SELECT DISTINCT category_id FROM film_category")  
sum = 0
for r in result_set:  
    sum += 1
print("Ilość kategorii filmów w wypożyczalni:")
print(sum)

Ilość kategorii filmów w wypożyczalni:
16

# 2. Wyświetl listę kategorii w kolejności alfabetycznej.

In [26]:
result_set = db.execute("SELECT name FROM category ORDER BY name ASC")  
for r in result_set:  
    print(r)

('Action',)
('Animation',)
('Children',)
('Classics',)
('Comedy',)
('Documentary',)
('Drama',)
('Family',)
('Foreign',)
('Games',)
('Horror',)
('Music',)
('New',)
('Sci-Fi',)
('Sports',)
('Travel',)

# 3. Znajdź najstarszy i najmłodszy film do wypożyczenia.

In [19]:
result_set = db.execute("SELECT DISTINCT release_year FROM film")  
for r in result_set:  
    print(r)

(2006,)

Na podstawie wyświetlenia i usunięcia zduplikowanych lat wydania filmów mozna stwierdzić że, nie ma najstarszego ani najmłodszego filmu, ponieważ wszystkie były wydane w tym samym roku.

# 4. Ile wypożyczeń odbyło się między 2005-07-01 a 2005-08-01?

In [38]:
result_set = db.execute("SELECT rental_date FROM rental WHERE rental_date BETWEEN '2005-07-01' AND '2005-08-01'")  
sum = 0
for r in result_set:  
    sum += 1
print("Ilość wypożyczeń między 2005-07-01 a 2005-08-01:")
print(sum)

Ilość wypożyczeń między 2005-07-01 a 2005-08-01:
6709

# 5. Ile wypożyczeń odbyło się między 2010-01-01 a 2011-02-01?

In [39]:
result_set = db.execute("SELECT rental_date FROM rental WHERE rental_date BETWEEN '2010-01-01' AND '2011-02-01'")  
sum = 0
for r in result_set:  
    sum += 1
print("Ilość wypożyczeń między 2010-01-01 a 2011-02-01:")
print(sum)

Ilość wypożyczeń między 2010-01-01 a 2011-02-01:
0

# 6.  Znajdź największą płatność wypożyczenia.

In [41]:
result_set = db.execute("SELECT amount FROM payment ORDER BY amount DESC LIMIT 1")  
for r in result_set:  
    print(r)

(Decimal('11.99'),)

# 7. Znajdź wszystkich klientów z Polski, Nigerii lub Bangladeszu.

In [47]:
result_set = db.execute("SELECT * FROM country")  
for r in result_set:  
    print(r)

(1, 'Afghanistan', datetime.datetime(2006, 2, 15, 9, 44))
(2, 'Algeria', datetime.datetime(2006, 2, 15, 9, 44))
(3, 'American Samoa', datetime.datetime(2006, 2, 15, 9, 44))
(4, 'Angola', datetime.datetime(2006, 2, 15, 9, 44))
(5, 'Anguilla', datetime.datetime(2006, 2, 15, 9, 44))
(6, 'Argentina', datetime.datetime(2006, 2, 15, 9, 44))
(7, 'Armenia', datetime.datetime(2006, 2, 15, 9, 44))
(8, 'Australia', datetime.datetime(2006, 2, 15, 9, 44))
(9, 'Austria', datetime.datetime(2006, 2, 15, 9, 44))
(10, 'Azerbaijan', datetime.datetime(2006, 2, 15, 9, 44))
(11, 'Bahrain', datetime.datetime(2006, 2, 15, 9, 44))
(12, 'Bangladesh', datetime.datetime(2006, 2, 15, 9, 44))
(13, 'Belarus', datetime.datetime(2006, 2, 15, 9, 44))
(14, 'Bolivia', datetime.datetime(2006, 2, 15, 9, 44))
(15, 'Brazil', datetime.datetime(2006, 2, 15, 9, 44))
(16, 'Brunei', datetime.datetime(2006, 2, 15, 9, 44))
(17, 'Bulgaria', datetime.datetime(2006, 2, 15, 9, 44))
(18, 'Cambodia', datetime.datetime(2006, 2, 15, 9, 44))
(19, 'Cameroon', datetime.datetime(2006, 2, 15, 9, 44))
(20, 'Canada', datetime.datetime(2006, 2, 15, 9, 44))
(21, 'Chad', datetime.datetime(2006, 2, 15, 9, 44))
(22, 'Chile', datetime.datetime(2006, 2, 15, 9, 44))
(23, 'China', datetime.datetime(2006, 2, 15, 9, 44))
(24, 'Colombia', datetime.datetime(2006, 2, 15, 9, 44))
(25, 'Congo, The Democratic Republic of the', datetime.datetime(2006, 2, 15, 9, 44))
(26, 'Czech Republic', datetime.datetime(2006, 2, 15, 9, 44))
(27, 'Dominican Republic', datetime.datetime(2006, 2, 15, 9, 44))
(28, 'Ecuador', datetime.datetime(2006, 2, 15, 9, 44))
(29, 'Egypt', datetime.datetime(2006, 2, 15, 9, 44))
(30, 'Estonia', datetime.datetime(2006, 2, 15, 9, 44))
(31, 'Ethiopia', datetime.datetime(2006, 2, 15, 9, 44))
(32, 'Faroe Islands', datetime.datetime(2006, 2, 15, 9, 44))
(33, 'Finland', datetime.datetime(2006, 2, 15, 9, 44))
(34, 'France', datetime.datetime(2006, 2, 15, 9, 44))
(35, 'French Guiana', datetime.datetime(2006, 2, 15, 9, 44))
(36, 'French Polynesia', datetime.datetime(2006, 2, 15, 9, 44))
(37, 'Gambia', datetime.datetime(2006, 2, 15, 9, 44))
(38, 'Germany', datetime.datetime(2006, 2, 15, 9, 44))
(39, 'Greece', datetime.datetime(2006, 2, 15, 9, 44))
(40, 'Greenland', datetime.datetime(2006, 2, 15, 9, 44))
(41, 'Holy See (Vatican City State)', datetime.datetime(2006, 2, 15, 9, 44))
(42, 'Hong Kong', datetime.datetime(2006, 2, 15, 9, 44))
(43, 'Hungary', datetime.datetime(2006, 2, 15, 9, 44))
(44, 'India', datetime.datetime(2006, 2, 15, 9, 44))
(45, 'Indonesia', datetime.datetime(2006, 2, 15, 9, 44))
(46, 'Iran', datetime.datetime(2006, 2, 15, 9, 44))
(47, 'Iraq', datetime.datetime(2006, 2, 15, 9, 44))
(48, 'Israel', datetime.datetime(2006, 2, 15, 9, 44))
(49, 'Italy', datetime.datetime(2006, 2, 15, 9, 44))
(50, 'Japan', datetime.datetime(2006, 2, 15, 9, 44))
(51, 'Kazakstan', datetime.datetime(2006, 2, 15, 9, 44))
(52, 'Kenya', datetime.datetime(2006, 2, 15, 9, 44))
(53, 'Kuwait', datetime.datetime(2006, 2, 15, 9, 44))
(54, 'Latvia', datetime.datetime(2006, 2, 15, 9, 44))
(55, 'Liechtenstein', datetime.datetime(2006, 2, 15, 9, 44))
(56, 'Lithuania', datetime.datetime(2006, 2, 15, 9, 44))
(57, 'Madagascar', datetime.datetime(2006, 2, 15, 9, 44))
(58, 'Malawi', datetime.datetime(2006, 2, 15, 9, 44))
(59, 'Malaysia', datetime.datetime(2006, 2, 15, 9, 44))
(60, 'Mexico', datetime.datetime(2006, 2, 15, 9, 44))
(61, 'Moldova', datetime.datetime(2006, 2, 15, 9, 44))
(62, 'Morocco', datetime.datetime(2006, 2, 15, 9, 44))
(63, 'Mozambique', datetime.datetime(2006, 2, 15, 9, 44))
(64, 'Myanmar', datetime.datetime(2006, 2, 15, 9, 44))
(65, 'Nauru', datetime.datetime(2006, 2, 15, 9, 44))
(66, 'Nepal', datetime.datetime(2006, 2, 15, 9, 44))
(67, 'Netherlands', datetime.datetime(2006, 2, 15, 9, 44))
(68, 'New Zealand', datetime.datetime(2006, 2, 15, 9, 44))
(69, 'Nigeria', datetime.datetime(2006, 2, 15, 9, 44))
(70, 'North Korea', datetime.datetime(2006, 2, 15, 9, 44))
(71, 'Oman', datetime.datetime(2006, 2, 15, 9, 44))
(72, 'Pakistan', datetime.datetime(2006, 2, 15, 9, 44))
(73, 'Paraguay', datetime.datetime(2006, 2, 15, 9, 44))
(74, 'Peru', datetime.datetime(2006, 2, 15, 9, 44))
(75, 'Philippines', datetime.datetime(2006, 2, 15, 9, 44))
(76, 'Poland', datetime.datetime(2006, 2, 15, 9, 44))
(77, 'Puerto Rico', datetime.datetime(2006, 2, 15, 9, 44))
(78, 'Romania', datetime.datetime(2006, 2, 15, 9, 44))
(79, 'Runion', datetime.datetime(2006, 2, 15, 9, 44))
(80, 'Russian Federation', datetime.datetime(2006, 2, 15, 9, 44))
(81, 'Saint Vincent and the Grenadines', datetime.datetime(2006, 2, 15, 9, 44))
(82, 'Saudi Arabia', datetime.datetime(2006, 2, 15, 9, 44))
(83, 'Senegal', datetime.datetime(2006, 2, 15, 9, 44))
(84, 'Slovakia', datetime.datetime(2006, 2, 15, 9, 44))
(85, 'South Africa', datetime.datetime(2006, 2, 15, 9, 44))
(86, 'South Korea', datetime.datetime(2006, 2, 15, 9, 44))
(87, 'Spain', datetime.datetime(2006, 2, 15, 9, 44))
(88, 'Sri Lanka', datetime.datetime(2006, 2, 15, 9, 44))
(89, 'Sudan', datetime.datetime(2006, 2, 15, 9, 44))
(90, 'Sweden', datetime.datetime(2006, 2, 15, 9, 44))
(91, 'Switzerland', datetime.datetime(2006, 2, 15, 9, 44))
(92, 'Taiwan', datetime.datetime(2006, 2, 15, 9, 44))
(93, 'Tanzania', datetime.datetime(2006, 2, 15, 9, 44))
(94, 'Thailand', datetime.datetime(2006, 2, 15, 9, 44))
(95, 'Tonga', datetime.datetime(2006, 2, 15, 9, 44))
(96, 'Tunisia', datetime.datetime(2006, 2, 15, 9, 44))
(97, 'Turkey', datetime.datetime(2006, 2, 15, 9, 44))
(98, 'Turkmenistan', datetime.datetime(2006, 2, 15, 9, 44))
(99, 'Tuvalu', datetime.datetime(2006, 2, 15, 9, 44))
(100, 'Ukraine', datetime.datetime(2006, 2, 15, 9, 44))
(101, 'United Arab Emirates', datetime.datetime(2006, 2, 15, 9, 44))
(102, 'United Kingdom', datetime.datetime(2006, 2, 15, 9, 44))
(103, 'United States', datetime.datetime(2006, 2, 15, 9, 44))
(104, 'Venezuela', datetime.datetime(2006, 2, 15, 9, 44))
(105, 'Vietnam', datetime.datetime(2006, 2, 15, 9, 44))
(106, 'Virgin Islands, U.S.', datetime.datetime(2006, 2, 15, 9, 44))
(107, 'Yemen', datetime.datetime(2006, 2, 15, 9, 44))
(108, 'Yugoslavia', datetime.datetime(2006, 2, 15, 9, 44))
(109, 'Zambia', datetime.datetime(2006, 2, 15, 9, 44))

In [ ]:
result_set = db.execute("SELECT * FROM city")  
for r in result_set:  
    print(r)