In [1]:
import pandas as pd
directory = "../Analysis Data/"

In [5]:
tb = pd.read_csv(f"{directory}tb.csv")

# wszystkie instrukcje są dobrane tak, aby:
# - każda zmienna tworzyła kolumnę
# - każda obserwacja tworzyła rząd
# - każdy typ jednostki obserwacyjnej tworzył tabelę

# zastąpienie NaN zerami
tb.fillna(0, inplace=True)

# wyrzucenie kolumn, które nie pasują do reszty
tb.drop(columns=['new_sp','new_sp_f04', 'new_sp_f514', 'new_sp_m04', 'new_sp_m514', 'new_sp_fu', 'new_sp_mu'], inplace=True)

# melting
tb = tb.melt(['iso2', 'year'], tb.columns[2:])

# usunięcie napisu "new_sp_" z każdej pozycji w kolumnie "variable"
tb['variable'] = tb.variable.str[7:]

# stworzenie dwóch kolumn sex i age z odpowiednimi wartościami
tb['sex'] = tb.variable.str[0]
tb['age'] = tb.variable.str[1:]

# uporządkowanie kolumny "age"
tb['age'] = tb.age.apply(lambda x: '65+' if x == '65' else x[:-2] + '-' + x[-2:])

# zliczenie odpowiednich danych
tb['cases'] = tb['value'].astype(int)

# usunięcie kolumny "variable" oraz "value"
tb.drop(columns=['variable','value'], inplace=True)

# zmiana nazwy kolumny iso2 na country
tb.rename(columns = {'iso2': 'country'}, inplace=True)

display(tb)

      country  year sex   age  cases
0          AD  1989   m  0-14      0
1          AD  1990   m  0-14      0
2          AD  1991   m  0-14      0
3          AD  1992   m  0-14      0
4          AD  1993   m  0-14      0
...       ...   ...  ..   ...    ...
80761      ZW  2004   f   65+    111
80762      ZW  2005   f   65+    603
80763      ZW  2006   f   65+     96
80764      ZW  2007   f   65+     90
80765      ZW  2008   f   65+    105

[80766 rows x 5 columns]

In [3]:
tb.to_csv(f"{directory}tb_analysis.csv")